body{
    margin: 0;
}

/* INICIO container */
.container{
    background-color: white;
    height: 100vh;
}
/* FIN container */

/* INICIO navbar */
#navbar{
    height: 10vh;
    display: flex;
}

/* navbar izquierda */
#navbar-l{
    display: flex;
    width: 50vw;
    align-items: center;
    padding: 20px;
}

#navbar-l-1{
    width: 20vw;
    font-size: 20px;
    height: 5vh;
    align-items: center;
}

/* navbar derecha */
.text-def{
    display: flex;
    gap: 20px;
}

#navbar-r{
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content:end;
    padding: 20px;
}

#navbar-r-1{
    width: 8vw;
    font-size: 20px;
    justify-content: center;
    height: 5vh;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

#navbar-r-2{
    width: 5vw;
    display: flex;
    justify-content: start;
    height: 4vh;
    align-items: center;
}

#menu{
    display: flex;
    height: 5vh;
    width: 5vw;
} 

#boton{
    width: 60px;
    height: 60px;
    border: none;
    background-image: url(../img/menu.png);
    background-size: cover;
}

#boton:hover{
    width: 60px;
    height: 60px;
    border: none;
    background-image: url(../img/menu-2.png);
    background-size: cover;
}

#perfil{
    display: flex;
    height: 5vh;
    width: 5vw;
    justify-content: center;
    align-items: center;
}

#perfil-img{
    width: 100%;
}
/* FIN navbar */

/* INICIO main */
#main{
    height: 75vh;
}

.main-def{
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-img{
    height: 40vh;
    display:flex ;
    flex-direction: column;
}

#logo{
    height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo-1{
    height: 160px;
    width: 500px;
}

#search{
    height: 5vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-1{
    height: 85px;
    width: 1020px;
    background-image: url(../img/google.png);
    border: none;
    background-size: cover;
}

#search-1:hover{
    height: 95px;
    width: 1020px;
    background-image: url(../img/google-2.png);
    border: none;
    background-size: cover;
}

#main-but{
    height: 10vh;
}

#but{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18vw;
    height: 5vh;
}

#but-1{
    height: 60px;
    width: 200px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 3px;
}

#but-1:hover{
    height: 60px;
    width: 200px;
    background-color: rgb(241, 241, 241);
    border: solid 4px rgb(189, 189, 189);
    border-radius: 5px;
}

#but-2{
    height: 60px;
    width: 200px;
    background-color: rgb(241, 241, 241);
    border: none;
    border-radius: 3px;
}

#but-2:hover{
    height: 60px;
    width: 200px;
    background-color: rgb(241, 241, 241);
    border: solid 4px rgb(189, 189, 189);
    border-radius: 5px;
}

#main-txt{
    background-color: cyan;
    height: 25vh;
}
/* FIN main */

/* INICIO footer */
#footer{
    background-color: yellow;
    height: 15vh;
}

.footer-def{
    display: flex;
    align-items: center;
}

#footer-españa{
    background-color: hotpink;
    height: 50%;
}

#footer-info{
    display: flex;
    background-color: grey;
    height: 50%;
    justify-content: space-between;
}

.info-2{
    background-color: greenyellow;
    width: 20vw;
}
/* FIN footer */